<div class="container">
    <form (ngSubmit)="onSubmit()" class="form-container">
        <div class="form-group">
            <label for="partTimePosition">חלקיות המשרה:</label>
            <select id="partTimePosition" [(ngModel)]="employeeData.partTimePosition" name="partTimePosition" required
                class="form-control">
                <option [value]="100">100%</option>
                <option [value]="75">75%</option>
                <option [value]="50">50%</option>
            </select>
        </div>
        <div class="form-group">
            <label for="professionalLevel">רמה מקצועית:</label>
            <select id="professionalLevel" [(ngModel)]="employeeData.professionalLevel" name="professionalLevel"
                required class="form-control">
                <option value="beginner">מתחיל</option>
                <option value="experienced">מנוסה</option>
            </select>
        </div>
        <div class="form-group">
            <label for="managementLevel">רמה ניהולית:</label>
            <select id="managementLevel" [(ngModel)]="employeeData.managementLevel" name="managementLevel" required
                class="form-control">
                <option [value]="0">ללא</option>
                <option [value]="1">רמה ניהול 1</option>
                <option [value]="2">רמת ניהול 2</option>
                <option [value]="3">רמת ניהול 3</option>
                <option [value]="4">רמת ניהול 4</option>
            </select>
        </div>
        <div class="form-group">
            <label for="yearsOfSeniority">סה"כ שנות וותק:</label>
            <input type="number" id="yearsOfSeniority" [(ngModel)]="employeeData.yearsOfSeniority"
                name="yearsOfSeniority" required class="form-control">
        </div>
        <div class="form-group">
            <label for="entitledToAdditionalWork">זכאות לתוספת עבודה בחוק:</label>
            <input type="checkbox" id="entitledToAdditionalWork" [(ngModel)]="employeeData.entitledToAdditionalWork"
                name="entitledToAdditionalWork" class="form-check-input">
        </div>
        <div class="form-group" *ngIf="employeeData.entitledToAdditionalWork">
            <label for="group">קבוצה:</label>
            <select id="group" [(ngModel)]="employeeData.group" name="group" required class="form-control">
                <option value="A">קבוצה א' </option>
                <option value="B">קבוצה ב'</option>
            </select>
        </div>
        <button type="submit" class="btn1 btn-primary">חישוב השכר</button>
    </form>
</div>
<app-salary-calculator-child *ngIf="salaryResult" [salaryResult]="salaryResult"
    [employeeData]="employeeData"></app-salary-calculator-child>
<button type="button" *ngIf="salaryResult" (click)="resetCalculator()" class="btn2 btn-secondary mt-3">איפוס</button>